body {
  margin: 0;
  padding: 0;
  background: linear-gradient(80.5deg, #474d59 14.34%, #282c33 92.22%);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}